
nav {
    background-color: #FFFFFF;
    float: right;

    padding: 10px;
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080; /* Moved the border here */
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
    display: flex;
    justify-content: flex-end;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    img {
        width: 100px;
        height: 100px;
    }


}
nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

main{
    img {
        width: 500px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
    p1{
        position: fixed;
        bottom: 150px;
        left: 100px;
        text-align: center;

    }
}

